%h3 Edit Subscription Shipping Address
= form_for @address, url: { action: :update },
  html: { id: 'checkout_form_address' } do |form|
  = render partial: 'spree/address/form',
    locals: { form: form, address_type: 'shipping', address: @address }
  = form.submit
  = link_to 'Go Back To My Account', account_path, class: 'button'
